@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #2e8be6;
    /* --bakcground-color: #1f2937; */
    --bakcground-color: white;
    /* --text-color: #f9fafb; */
    --border-background: #e5f6fd;
    --border-color: rgb(18 20 20 / 12%);
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--bakcground-color);
    color: var(--text-color);
}

.navbar{
    position:sticky;
    top:0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 1.5rem;
}


.list .li{
    font-size: 20px;
   list-style: none;
   text-decoration: none;
   display: inline;
   padding: 10px;
}

a:hover{
   color: white;
}

a{
   padding-right: 20px;
   color: #000000;
   text-decoration: none;
}


/* sidebar */

.sidebar{
    width: 200px;
    height: 100%;
    position: fixed;
    border-right: solid 3px var(--primary-color); 
}

.sidebar .start{
    margin: 1.5rem;
    color: #737373
}

.sidebar .doc{
    margin: 1rem 0 1rem 3rem;
    color: #1b1b1b;
    font-size: 17px;
}

.sidebar .doc:hover{
    color: var(--primary-color);
    cursor: pointer;;
}

.sidebar .components{
    margin: 1.5rem;
    font-size: 20px;
    color: #737373;
    font-weight: bold;
}

.sidebar  .designs{
    margin: 1rem 1rem 1rem 3rem;  
    color: #1b1b1b;
    font-size: 17px;

    /* padding: 1rem; */
}


.sidebar .designs a:hover{
    color: var(--primary-color);  
    cursor: pointer;
}

/* content page */

.content-page{
    margin-left: 300px;
    /* margin-top: 100px; */
    /* padding-top: 5rem; */
    z-index: 1;
}

h4{
    margin: 3rem 0;
}

.code-snippet{
    padding: 1rem 1rem 0 1rem;
    margin: 1rem 0 3rem 0;
   display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5f6fd;
    width: 80%;
    border-radius: 0 30px 0 30px;
    border: solid 1px var(--border-color);
    background-color: var(--border-background);
    
}

.code-snippet-code{
    width: 680px; height: 480px; border:0; transform: scale(1); overflow:hidden;
}
.code-snippet-code2{
    width: 680px;
    height: 460px;
    border: 0;
    transform: scale(1);
    overflow: hidden;
  
}

.code-snippet-code3{
    width: 680px; height: 230px; border:0; transform: scale(1); overflow:hidden;
}

/* headings */

.headings{
    margin: 2rem 0 1.5rem 0;
    color: var(--primary-color);
    font-size: 2rem;
}

.description{
    margin: 3rem 0 3rem 0;
    width: 80%;
}

h3{
    margin: 3rem 0;
    font-size: 1.5rem;
}



/* button section */

#button-section{
    background-color: #e5f6fd;
    display: inline-block;
    border: solid 1px rgb(20 20 20 / 12%);
    border-radius: 0 30px 0 30px;
    padding: 0.5rem;
    width: 80%;
}

 .btn-primary{
    background-color: blue;
    color: white;
    border: none;
    margin: 1rem;
    border-radius: 2px;
    padding: 5px 10px;
}

.btn-primary:hover{
    cursor: pointer;
    background-color: rgb(121, 121, 238);
}

.btn-secondary{
    background-color: grey;
    color: white;
    border: none;
    margin: 1rem;
    border-radius: 2px;
    padding: 5px 10px;
}

.btn-secondary:hover{
    cursor: pointer;
    background-color: rgb(168, 163, 163)
}


.btn-success{
    background-color: green;
    color: white;
    border: none;
    margin: 1rem;
    border-radius: 2px;
    padding: 5px 10px;
}

.btn-success:hover{
    cursor: pointer;
    background-color: rgb(71, 221, 116)
}

.btn-danger{
    background-color: red;
    color: white;
    border: none;
    margin: 1rem;
    border-radius: 2px;
    padding: 5px 10px;
}

.btn-danger:hover{
    cursor: pointer;
    background-color: rgb(252, 106, 106);
}

.btn-warning{
    background-color: gold;
    color: black;
    border: none;
    margin: 1rem;
    border-radius: 2px;
    padding: 5px 10px;
}

.btn-warning:hover{
    cursor: pointer;
    background-color: rgb(245, 218, 66)
}

.btn-info{
    background-color: lightblue;
    color: black;
    border: none;
    margin: 1rem;
    border-radius: 2px;
    padding: 5px 10px;
}

.btn-info:hover{
    cursor: pointer;
    background-color: rgb(162, 197, 209);
}


.btn-link{
    background-color: transparent;
    color: blue;
    border: none;
    margin: 1rem;
    border-radius: 2px;
    padding: 5px 10px;
    text-decoration: underline;
}

.btn-link:hover{
    cursor: pointer;
    
}

/* outline button */

#outline-button-section{
    background-color: #e5f6fd;
    display: inline-block;
    border: solid 1px rgb(20 20 20 / 12%);
    border-radius: 0 30px 0 30px;
    padding: 0.5rem;
    width: 80%;
}

.btn-primary1{
    background-color: transparent;
    color: blue;
    border: solid 1px blue;
    margin: 1rem;
    border-radius: 2px;
    padding: 5px 10px;
}

.btn-primary1:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(121, 121, 238);
}

.btn-secondary1{
    background-color: transparent;
    color: grey;
    border: solid 1px grey;
    margin: 1rem;
    border-radius: 2px;
    padding: 5px 10px;
}

.btn-secondary1:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(168, 163, 163)
}


.btn-success1{
    background-color: transparent;
    color: green;
    border: solid 1px green;
    margin: 1rem;
    border-radius: 2px;
    padding: 5px 10px;
}

.btn-success1:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(71, 221, 116)
}

.btn-danger1{
    background-color: transparent;
    color: red;
    border: solid 1px red;
    margin: 1rem;
    border-radius: 2px;
    padding: 5px 10px;
}

.btn-danger1:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(252, 106, 106);
}

.btn-warning1{
    background-color: transparent;
    color: gold;
    border: solid 1px gold;
    margin: 1rem;
    border-radius: 2px;
    padding: 5px 10px;
}

.btn-warning1:hover{
    cursor: pointer;
    color: black;
    background-color: rgb(245, 218, 66)
}

.btn-info1{
    background-color: transparent;
    color: lightblue;
    border: solid 1px lightblue;
    margin: 1rem;
    border-radius: 2px;
    padding: 5px 10px;
}

.btn-info1:hover{
    cursor: pointer;
    color: black;
    background-color: rgb(162, 197, 209);
}


/* arrow */

#floating-button{
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #e5f6fd;
    width: 80%;
    border-radius: 0 30px 0 30px;
    border: solid 1px var(--border-color);
    background-color: var(--border-background);
}

.arrow {
    margin: 2rem;
    background-color: #0ea5e9;
    border: solid 2px white;
    display: inline-block;
    box-shadow: -1px 1px;
    border-radius: 80%;
    padding: 1rem;
    border: solid 3px white;
}

.arrow:hover{
    background-color: lightblue;
    cursor: pointer;
}
