@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #2e8be6;
    /* --bakcground-color: #1f2937; */
    --bakcground-color: white;
    /* --text-color: #f9fafb; */
    --border-background: #e5f6fd;
    --border-color: rgb(18 20 20 / 12%);
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--bakcground-color);
    color: var(--text-color);
}

.navbar{
    position:sticky;
    top:0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 1.5rem;
}


.list .li{
    font-size: 20px;
   list-style: none;
   text-decoration: none;
   display: inline;
   padding: 10px;
}

.index-link:hover{
   color: white;
}

a{
   padding-right: 20px;
   color: #000000;
   text-decoration: none;
}


/* sidebar */

.sidebar{
    width: 200px;
    height: 100%;
    position: fixed;
    border-right: solid 3px var(--primary-color); 
}

.sidebar .start{
    margin: 1.5rem;
    color: #737373
}

.sidebar .doc{
    margin: 1rem 0 1rem 3rem;
    color: #1b1b1b;
    font-size: 17px;
}

.sidebar .doc:hover{
    color: var(--primary-color);
    cursor: pointer;;
}

.sidebar .components{
    margin: 1.5rem;
    font-size: 20px;
    color: #737373;
    font-weight: bold;
}

.sidebar  .designs{
    margin: 1rem 1rem 1rem 3rem;  
    color: #1b1b1b;
    font-size: 17px;

    /* padding: 1rem; */
}


.sidebar .designs a:hover{
    color: var(--primary-color);  
    cursor: pointer;
}

/* content page */

.content-page{
    margin-left: 300px;
    /* margin-top: 100px; */
    /* padding-top: 5rem; */
    z-index: 1;
}


/* headings */

.headings{
    margin: 2rem 0 1.5rem 0;
    color: var(--primary-color);
    font-size: 2rem;
}

.description{
    margin: 3rem 0 3rem 0;
    width: 80%;
}

h3{
    margin: 3rem 0;
    font-size: 1.5rem;
}


/* navbar section */

.navbar-section{
    padding: 1rem;
    margin: 1rem 0 0rem 0;
    /* text-align: right; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    background-color: #e5f6fd;
    width: 80%;
    border-radius: 0 30px 0 30px;
    border: solid 1px var(--border-color);
    background-color: var(--border-background);
    /* display: inline; */
}

.code-snippet{
    padding: 1rem 1rem 0 1rem;
    margin: 1rem 0 3rem 0;
   display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5f6fd;
    width: 80%;
    border-radius: 0 30px 0 30px;
    border: solid 1px var(--border-color);
    background-color: var(--border-background);
    
}

.code-snippet-code{
    width: 680px; height: 700px; border:0; transform: scale(1); overflow:hidden;
}


.navigation{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-container{
    background-color: rgb(250, 244, 244);
    border: solid 1px none;
    display: flex;
    justify-content: space-around;
}

.nav-container h1 {
    margin-top: 25px;
    cursor: pointer;
}
.nav-container h1:hover{
    color: green !important;
}

.nav-container .search-box{
    border: solid 1px grey;
    display: inline;
    margin: 25px;
    padding: 2px 3px;
    background-color: transparent;
    padding: 0 5px;
    height: 30px;
}

button{
    padding: 10px 15px !important; 
    font-size: 16px;
}


.search-box input{
    border: none;
    width: 250px;
    background-color: transparent;
    font-size: 16px;
    margin: 7px 02px;
   outline: none;
}
.nav-items{
    margin-top: 8px;
}
.nav-links li{ 
    /* margin-top: 10px; */
    list-style: none;
    display: inline;
}



/* 2nd */
.nav-two{
    padding: 1rem;
    margin: 1rem 0 0rem 0;
    /* text-align: right; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    background-color: #e5f6fd;
    width: 80%;
    border-radius: 0 30px 0 30px;
    border: solid 1px var(--border-color);
    background-color: var(--border-background);
    /* display: inline; */
}

.nav-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.nav-two-container{
    height: 4rem;
    width: 100%;
    background-color: #f8cb46;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;

}

.search-bar{
    border: solid 1px white;
    height: 33px;
    background-color: white;
    border-radius: 40px;
    padding: 2px 5px;
    margin-left: 5px;
}

.search-bar i{
    background-color: #f8cb46;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.search-bar .search-input{
    width: 350px;
    height: 28px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 8px;
}

.logo{
    margin-top: 10px;
    margin-left: 11px;
    font-size: 18px;
    font-weight: bold;
}

.item-list{
    margin-top: 10px;
    margin-left: 20px;
}

.sign-in{
    background-color: rgb(36, 175, 36);
    /* background-color: transparent; */
    height: 40px;
    color: white;
    border: none;
    /* box-shadow: #737373; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    margin-right: 10px;
}


/*  */

.code-snippet-code2{
    width: 680px; height: 700px; border:0; transform: scale(1); overflow:hidden
}
