@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #2e8be6;
    /* --bakcground-color: #1f2937; */
    --bakcground-color: white;
    /* --text-color: #f9fafb; */
    --border-background: #e5f6fd;
    --border-color: rgb(18 20 20 / 12%);
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--bakcground-color);
    color: var(--text-color);
}

.navbar{
    position:sticky;
    top:0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 1.5rem;
}


.list .li{
    font-size: 20px;
   list-style: none;
   text-decoration: none;
   display: inline;
   padding: 10px;
}

.index-link:hover{
   color: white;
}

a{
   padding-right: 20px;
   color: #000000;
   text-decoration: none;
}


/* sidebar */

.sidebar{
  width: 210px !important;
  height: calc(100vh - 8.125rem) !important;
  position: fixed  !important;
  border-right: solid 3px var(--primary-color) !important; 
  position: fixed !important;
  overflow-y: auto !important;
  top: 6.2rem !important;
  display: flex!important;
  flex-direction: column!important;
  
}

.sidebar::-webkit-scrollbar {
    width: 0;
  }
.sidebar .start{
    margin: 1.5rem;
    color: #737373
}

.sidebar .doc{
    margin: 1rem 0 1rem 3rem;
    color: #1b1b1b;
    font-size: 17px;
}

.sidebar .doc:hover{
    color: var(--primary-color);
    cursor: pointer;;
}

.sidebar .components{
    margin: 1.5rem;
    font-size: 20px;
    color: #737373;
    font-weight: bold;
}

.sidebar  .designs{
    margin: 1rem 1rem 1rem 3rem;  
    color: #1b1b1b;
    font-size: 17px;

    /* padding: 1rem; */
}


.sidebar .designs a:hover{
    color: var(--primary-color);  
    cursor: pointer;
}

.sidebar .designs.bold a {
  font-weight: bold;
  color: var(--primary-color);
}

/* content page */

.content-page{
    margin-left: 300px;
    /* margin-top: 100px; */
    /* padding-top: 5rem; */
    z-index: 1;
}


/* headings */

.headings{
    margin: 2rem 0 1.5rem 0;
    color: var(--primary-color);
    font-size: 2rem;
}

.description{
    margin: 3rem 0 3rem 0;
    width: 80%;
}

h3{
    margin: 3rem 0;
    font-size: 1.5rem;
}


/* input section */

.input-section{
    padding: 1rem;
    margin: 1rem 0 0rem 0;
    background-color: #e5f6fd;
    width: 80%;
    border-radius: 0 30px 0 30px;
    border: solid 1px var(--border-color);
    background-color: var(--border-background);
}


.input-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .input-container h2 {
    text-align: center;
    margin-bottom: 1.3rem;
    font-size: 25px;
    font-weight: bold;
  }
  
  .input-container form {
    display: flex;
    flex-direction: column;
  }
  
  .input-container form div {
    margin-bottom: 10px;
  }

  .input-container form div  .form-inputs{
    margin-bottom: 2px;
    color: #525050;
  }
  
  .input-container form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .input-container form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .input-container form button[type="submit"]:hover {
    background-color: #4499ee;
  }
  
  #errorContainer {
    margin: 10px 0 15px 0;
    color: red !important;
    text-align: center;
  }
  

  .code-snippet{
    padding: 1rem 1rem 0 1rem;
    margin: 1rem 0 3rem 0;
   display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5f6fd;
    width: 80%;
    border-radius: 0 30px 0 30px;
    border: solid 1px var(--border-color);
    background-color: var(--border-background);
    
}


.code-snippet-code{
    width: 760px; height: 786px; border:0; transform: scale(1); overflow:hidden
 
}






