<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classy UI | List</title>
    <link rel="stylesheet" href="./_list.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar">
      <div>
        <a href="../../index.html"
          ><h2 style="color: white">Classy<u></u> <u>UI</u></h2></a
        >
      </div>
      <div class="list-container">
        <ul class="list">
          <li class="li"><a href="https://twitter.com/AkashAk50675432" target="_blank"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
            <li class="li"><a href="https://github.com/leader-akash" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a></li>
        </ul>
      </div>
    </nav>

    <!-- sidebar -->

    <div class="sidebar">
      <h2 class="start">Let's Start !</h2>
      <div class="designs">
        <a href="../../documentation.html">Documentation</a>
      </div>
      <div class="designs"><a href="../../typography.html">Typography</a></div>
      <div class="components">Components</div>
      <div class="designs"><a href="../alert/alert.html">Alert </a></div>
      <div class="designs"><a href="../avatar/avatar.html">Avatar </a></div>
      <div class="designs"><a href="../badge/badge.html">Badge </a></div>
      <div class="designs"><a href="../button/button.html">Button </a></div>
      <div class="designs"><a href="../card/card.html">Card</a></div>
      <div class="designs"><a href="../image/image.html">Image</a></div>
      <div class="designs"><a href="../navbar/navbar.html">Navbar</a></div>
      <div class="designs"><a href="../list/list.html">List</a></div>
      <div class="designs"><a href="../login/login.html">Login</a></div>
      <div class="designs"><a href="../signup/signup.html">Signup</a></div>
    </div>

    <!-- content page -->
    <section class="content-page">

      <h2 class="headings" id="alert-div">Lists</h2>

      <p class="description">
        List is used to show related items collectively.
      </p>

      <h3>Basic List</h3>

      <section class="list-section">
        <ul id="list-container">
            <li id="list-item">First Item</li>
            <li id="list-item">Second Item</li>
            <li id="list-item">Third Item</li>
            <li id="list-item">Fourth Item</li>
          </ul>
      </section>
          

      <h4>Code Snippet</h4>

      <div class="code-snippet">
        <iframe class="code-snippet-code"
  src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C0%29&t=vscode&wt=none&l=dart&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cul%2520id%253D%2522list-container%2522%253E%250A%2520%2520%2520%2520%253Cli%2520id%253D%2522list-item%2522%253EFirst%2520Item%253C%252Fli%253E%250A%2520%2520%2520%2520%253Cli%2520id%253D%2522list-item%2522%253ESecond%2520Item%253C%252Fli%253E%250A%2520%2520%2520%2520%253Cli%2520id%253D%2522list-item%2522%253EThird%2520Item%253C%252Fli%253E%250A%2509%253Cli%2520id%253D%2522list-item%2522%253EFourth%2520Item%253C%252Fli%253E%250A%253C%252Ful%253E"
  
  sandbox="allow-scripts allow-same-origin">
</iframe>
      </div>

<!--
      <ul class="list-show">
        <li class="stacked-list-item">
          <img src="..." alt="headphone" />
          <div class="stacked-list-desc">
            <div class="heading">Stacked list heading</div>
            <div class="desc">
              Stacked list Description eg. Boost up your development
              speed with Rapid UI
            </div>
          </div>
        </li>
        <li class="stacked-list-item">
          <img src="..." alt="headphone" />
          <div class="stacked-list-desc">
            <div class="heading">Stacked list heading</div>
            <div class="desc">
              Stacked list Description eg. Boost up your development
              speed with Rapid UI
            </div>
          </div>
        </li>
        <li class="stacked-list-item">
          <img src="..." alt="headphone" />
          <div class="stacked-list-desc">
            <div class="heading">Stacked list heading</div>
            <div class="desc">
              Stacked list Description eg. Boost up your development
              speed with Rapid UI
            </div>
          </div>
        </li>
      </ul>
      -->


      
    </section>
  </body>
</html>
