@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #2e8be6;
    /* --bakcground-color: #1f2937; */
    --bakcground-color: white;
    /* --text-color: #f9fafb; */
    --border-background: #e5f6fd;
    --border-color: rgb(18 20 20 / 12%);
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--bakcground-color);
    color: var(--text-color);
}

.navbar{
    position:sticky;
    top:0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 1.5rem;
}


.list .li{
    font-size: 20px;
   list-style: none;
   text-decoration: none;
   display: inline;
   padding: 10px;
}

a:hover{
   color: white;
}

a{
   padding-right: 20px;
   color: #000000;
   text-decoration: none;
}


/* sidebar */

.sidebar{
    width: 210px;
    height: calc(100vh - 8.125rem);
    position: fixed;
    border-right: solid 3px var(--primary-color); 
    position: fixed;
    overflow-y: auto;
    top: 6.2rem;
    bottom: 0;
    height: calc(100vh - 8.125rem);
    display: flex;
    flex-direction: column;
    
}

.sidebar::-webkit-scrollbar {
    width: 0;
  }

.sidebar .start{
    margin: 1.5rem;
    color: #737373
}

.sidebar .doc{
    margin: 1rem 0 1rem 3rem;
    color: #1b1b1b;
    font-size: 17px;
}

.sidebar .doc:hover{
    color: var(--primary-color);
    cursor: pointer;;
}

.sidebar .components{
    margin: 1.5rem;
    font-size: 20px;
    color: #737373;
    font-weight: bold;
}

.sidebar  .designs{
    margin: 1rem 1rem 1rem 3rem;  
    color: #1b1b1b;
    font-size: 17px;

    /* padding: 1rem; */
}


.sidebar .designs a:hover{
    color: var(--primary-color);  
    cursor: pointer;
}

.sidebar .designs.bold a {
    font-weight: bold;
    color: var(--primary-color);
  }

/* content page */

.content-page{
    margin-left: 300px;
    /* margin-top: 100px; */
    /* padding-top: 5rem; */
    z-index: 1;
}


/* headings */

.headings{
    margin: 2rem 0 1.5rem 0;
    color: var(--primary-color);
    font-size: 2rem;
}

.description{
    margin: 3rem 0 3rem 0;
    width: 80%;
}

h3{
    margin: 3rem 0;
    font-size: 1.5rem;
}

h4{
    margin: 3rem 0;
}


/* badge tags */
.code-snippet{
    padding: 1rem 1rem 0 1rem;
    margin: 1rem 0 3rem 0;
   display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5f6fd;
    width: 80%;
    border-radius: 0 30px 0 30px;
    border: solid 1px var(--border-color);
    background-color: var(--border-background);
    
}

.code-snippet-code{
    width: 680px; height: 290px; border:0; transform: scale(1); overflow:hidden;
}
.code-snippet-code2{
   width: 680px; height: 484px; border:0; transform: scale(1); overflow:hidden
}


#badge-section{
    padding: 1rem;
    margin: 1rem 0 0rem 0;
    /* text-align: right; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    background-color: #e5f6fd;
    width: 80%;
    border-radius: 0 30px 0 30px;
    border: solid 1px var(--border-color);
    background-color: var(--border-background);
    /* display: inline; */
}

.green{
    /* width: 70px; */
    display: inline;
    background-color: #86efac;
    padding: 3px 8px;
    font-size: 12px;
    color: #166534;
    font-weight: bold;
    border-radius:  2px;
}

.red{
    /* width: 70px; */
    display: inline;
    background-color: #f472b6;
    padding: 3px 8px;
    font-size: 12px;
    color: #be123c;
    font-weight: bold;
    border-radius:  2px;
}

.blue{
    /* width: 70px; */
    display: inline-block;
    border-radius:  2px;
    background-color: #0ea5e9;
    padding: 3px 8px;
    font-size: 12px;
    color: #1d4ed8;
    font-weight: bold;

}

.green2{
    /* width: 70px; */
    display: inline-block;
    background-color: #86efac;
    padding: 3px 8px;
    font-size: 12px;
    color: #166534;
    font-weight: bold;
    border-radius:  2px;
}

.yellow{
    /* width: 70px; */
    display: inline-block;
    background-color: #fde68a;
    padding: 3px 8px;
    font-size: 8wpx;
    color: #d97706;
    font-weight: bold;
    border-radius:  2px;
}

.badge{
    margin-bottom: 0.5rem;
}

#badge-Onicon{
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
    background-color: #e5f6fd;
    width: 80%;
    border-radius: 0 30px 0 30px;
    border: solid 1px var(--border-color);
    background-color: var(--border-background);
    padding: 1.5rem;
}

.badge-icon{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.badge-icon > .badge{
    border-radius: 10px;
    position: absolute;
    top: -12px;
    right: -15px;
 
}

.badge-icon > i{
    font-size: 1.5rem;
    
}

.badge-icon{
    margin-right: 3rem;
}

